@model ErrorViewModel

<div class="text-center">
    <h1 class="text-danger">@Model.ErrorTitle</h1>
    <h2 class="text-danger">@Model.ErrorMessage</h2>
    <img src="~/images/errorShame.jpg" style="height:300px; width:300px" />
    <h4 class="text-danger">@Model.Remark</h4>
</div>
